.dashboard-container {
}

.search-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  z-index: 10;
  top: 0;
}

.search-pic img {

}

.input-button {
  width: 100%;
}

.input-button input {
  padding-left: 12px;
}

.search-bar {
  margin-top: 100px;
  width: 50%;
  height: 40px;
  border-radius: 30px;
  border: white;
  background-color: lightgray;

}

.search-button {
  height: 40px;
  width: 50px;
  border-radius: 30px;
  margin-left: 10px;
  border: white;
  cursor: pointer;
}

.dashboard-container img.dinner-pic {
  padding-top: 20px;
  height: 350px;
  width: 100%;
  object-fit: cover;

}

@media screen and (max-width: 1000px) {
  .dashboard-container img.dinner-pic {
    height: 200px;
  }
}


.item-container {
  z-index: 99999;
  margin: 0 auto;
  padding-top: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1rem;

}

.item {
  width: 350px;
  height: 650px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.items-container img {
  width:300px;
}

.label-ing-button {
  justify-items: space-around;
}

.labels {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 15px;
}

.item-label {
  width: 250px;
  height: 65px;
}

.ingredient-container {
  height: 200px;
  line-height: 25px;
  padding-bottom: 8px;
}

.ingredients {
  text-align: left;
}

.need {
  padding-bottom: 8px;
}

.recipe-button {
  width: 300px;
  cursor: pointer;
  border-radius: 30px;
  border: white;
  height: 40px;
  transition: .3s;
  

}

.recipe-button:hover {
  background-color: lightgray;
  color: white;
}