.search-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-button {
  width: 100%;
}

.input-button input {
  padding-left: 12px;
}

.search-bar {
  margin-top: 100px;
  width: 50%;
  height: 40px;
  border-radius: 30px;
  border: white;
  background-color: lightgray;
}

.search-button {
  height: 40px;
  width: 50px;
  border-radius: 30px;
  margin-left: 10px;
  border: white;
  cursor: pointer;
}

.dashboard-container img.dinner-pic {
  padding-top: 20px;
  height: 350px;
  width: 100%;
  object-fit: cover;

}

@media screen and (max-width: 1000px) {
  .dashboard-container img.dinner-pic {
    height: 200px;
  }
}

.rec-container {
  
}

.item-container {
  margin: 0 auto;
  padding-top: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.items-container img {
  width:300px;
}

.labels {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
}

.item-label {
  width: 250px;
}

.ingredients {
  text-align: left;
}

.recipe-button {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 30px;
  border: white;
  height: 40px;
  transition: .3s;
  margin-top: auto;
  margin-bottom: 30px;
}

.recipe-button:hover {
  background-color: lightgray;
  color: white;
}